@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h2>Descriere</h2>
<ul>
    <li>Va aflati pe o platforma proiectata pentru concursuri de programare.</li>
    <li>Sper ca gasiti ceea ce cautati la o astfel de platforma, daca aveti vreo sugestie va rugam sa trimiteti un mail din pagina de contact.</li>
</ul>
