@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Bd. George Cosbuc<br />
    nr. 39<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mtacoders@gmail.com">mtacoders@gmail.com</a><br />
</address>
