@model MTACodersLicence.Models.ProfessorKey

@{
    ViewData["Title"] = "Create Key";
}

<h2>Create Professor Key</h2>

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Key" class="control-label"></label>
                <input asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAccountsAvailable" class="control-label"></label>
                <input asp-for="NumberOfAccountsAvailable" class="form-control" />
                <span asp-validation-for="NumberOfAccountsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to Keys</a>
</div>

