
@{
    ViewData["Title"] = "EroareTimp";
}

<h2>Ne pare rau dar ti-a expirat timpul pentru acest Concurs! Contacteaza un administator daca vrei sa reincepi concursul!</h2>
<a asp-controller="Challenge" asp-action="Index" class="btn btn-default">Back to Challenges</a>

